{{ define "container-class" }} container--wide{{ end }}

{{ define "main" }}
<article>
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.tags }}
        <span class="post-tags">
            {{ range $i, $t := . }}{{ if $i }} {{ end }}<a href="{{ "tags/" | absURL }}{{ $t | urlize }}/">{{ $t }}</a>{{ end }}
        </span>
        {{ end }}
    </div>
    <div class="prose">
        {{ .Content }}
    </div>
</article>
{{ end }}
