{{ define "container-class" }} container--wide{{ end }}

{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>

<div class="projects">
    {{ range .Pages }}
    <a class="project" href="{{ .RelPermalink }}">
        <div class="project-header">
            <span class="project-name">{{ .Title }}</span>
            <span class="project-lang">{{ .Date.Format "Jan 2, 2006" }}</span>
        </div>
        {{ with .Description }}<p class="project-desc">{{ . }}</p>{{ end }}
    </a>
    {{ end }}
</div>
{{ end }}
